<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>core data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D3EE67C1CF7D67B003B8BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3EE6931CF7D67C003B8BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3EE69E1CF7D67C003B8BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
